/* Poppin Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Common Style */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    
}


.container{
    display: flex;
}

    /* Header Style */

header{
    background-color: #161616;
    width: 86%;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 15px;
    gap: 20px;
}


.half-width{
    width: 50%;
}


.head-description{
    color: white;
    padding: 5% 5% 5% 5%;
}


.headdes{
    font-weight: 900;
    font-size: 70px;
}


.headpara{
    font-weight: 100;
}


.headimg img{
    
    width: 100%;
    height: 100%;
    
}


.headimg{
    padding-top: 33px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    transition-duration: 1s;
}


.top:hover .headimg{
    transform: translateX(-80px);
    transition-duration: 0.5s;
}


.btn{
    text-decoration: none;
    font-weight: 200;
    color: white;
    background-color: #DD0000;
    padding: 2%;
    border-radius: 5px;
}



/* Blog Section style */

main{
    margin-top: 130px;
    margin-left: 110px;
    
}


.tabs{
    width: 200px;
    height: 200px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    align-content:center;
    justify-content:center;
    

    
}
.switch-tab{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    row-gap: 15px;
    width: 300px;
    text-align: center;
     

}


.switch-tab a{
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: 700;
    border: none;
   
    
}


#blogz{
    background-color: #DD0000;
    color: white;
}



.blog img{
    width: 100%;
    border-radius: 0 0 8px 8px;
} 


.blogs{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    padding-left: 20px

}


.blog{
    background-color: rgba(202, 245, 243, 0.193);
    border: 1px solid lightgray;
    border-radius: 8px;
    padding:  10px;
    width: 70%;
    margin-left: 10%;
    box-shadow: 5px 5px 5px #888888;

    
}


.details{
    width: 50%;
    display: flex;
    justify-content: space-between;
}


.view-all{
    display: none;
}


/* Footer style */

footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    justify-content: center;
    padding-: 20%;
}


.fmain{
    width: 80%;
    margin-left: 10%;
}


.footmain{
    justify-content: center;
   
}


.f-title{
    justify-content: center;
    font-size: 40px;
    border-bottom: 1px solid #FFFFFF1A;

}


.others{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #FFFFFF1A;

}


.socials{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 17px;
    padding-bottom: 50px;
}


.social-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff29;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 0.7s;
}


.social-bg:hover{
    background-color: white;
    transition-duration: 0.7s;


}


.social-bg:hover a .fa-instagram{
    color: purple;
    font-weight: 900;
}


.social-bg:hover a .fa-facebook{
    color: blue;
    font-weight: 900;
}


.social-bg:hover a .fa-twitter{
    color: rgb(45, 141, 179);
    font-weight: 900;
}


.social-bg:hover a .fa-youtube{
    color: rgb(178, 2, 2);
    font-weight: 900;
    transition-duration: 0.5s;

}


.social-bg a{
    text-decoration: none;
    color: white;
    font-size: 25px;
   
}


/* -------------Responsive Start-------------- */

/* For Tablet */
@media screen and (min-width:689px) and (max-width:1023px) {

    /* Header */
    .top{
        height: 50%;
    }


    /* Main */
    .tab-main{
        margin-left: 9%;
    }


    .container2{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }


    .tabs{
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: white;
        margin-left: 0;
        padding-right: 10%;
        

    }


    .switch-tab{
        flex-direction: row;
        width: 100%; 
        margin-bottom: 50px;
         
    
    }


    .switch-tab a{
        border: 1px solid gray;

    }


    .blogs{
        grid-template-columns: repeat(2,1fr);
       
    }


    .upcming-match,.all-group,#blogz{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .view-all{
        display:block;
        margin-top: 40px;
        
    }


    /* Footer  */
    
    .others{
        column-gap: 35px;
        flex-wrap: wrap;
    }
    
}


/* Mobile View*/
@media screen and (max-width:689px) {

    /* Header */

    .top{
        flex-direction: column;
        align-items: center;
    }


    .head-description{
        text-align: center;

    }


    .headdes{
        font-size: 30px;
        font-weight: 900;
    }


    .headpara{
        width: 100%;
        height: 45px;
        overflow:hidden;
        text-overflow: ellipsis;
        
    }


    .headimg img{
        display: block;
        
    }


    /* main */
    main{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
    }


    .container2{
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }


    .tabs{
        background-color: white;
    }


    .switch-tab a{
        border: 1px solid lightgray;
    }


    .blogs{
        grid-template-columns: repeat(1,1fr);
    }


    .blog{
        padding-left: 5%;
    }


    /* Footer */

    footer{
        margin-top: 15%;
    }

    
    .f-title{
        font-size: 20px;

        
    }
    .f-title h1{
        margin:20px;
    }

    
    .others{
        flex-direction: column;
    }
    
}